.articles {
    padding: 1rem;
  }
  
  .articles > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  
  .articles > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    list-style-type: none;
  }
  
  .articles > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
  }
  
  .articles > ul > li > figure > img {
    width: 100%;
  }
  
  .articles > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .articles > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
  }
  
  .articles > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
    color: white;
  }
  
  
  .articles > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: 400;

    &:hover {
        background-color: #666666;
    }
  }

  